@media (prefers-color-scheme: dark) {
    .section{
        height: auto;
        width: 95%;
        margin-left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        gap: 2em;
        overflow: hidden;
        column-gap: 2em;
    }
    .section a{
        height: max-content;
        width: max-content;
        overflow: hidden;
    }
    .linkImage{
        border-radius: 30px;
        height: 50dvh;
        width: 100%;
        overflow: hidden;
    }
    .textoDaImagem{
        z-index: 100;
        pointer-events: none;
        position: fixed;
        margin-top: 45dvh;
        margin-left: 20px;
        transition: all.55s ease;
    }
    .textoDaImagem p{
        width: 50%;
        opacity: 0;
        text-align: left;
        transition: all.55s ease;
    }
    .linkImage img, video{
        width: 100%;
        height: 50dvh;
        object-fit: cover;
        overflow: hidden;
        position: fixed;
        transition: all.55s ease-in-out;
    }
    .linkImage img:hover{
        margin-top: -20px;
        filter: blur(3px);
        scale: 1.05;
    }
    .linkImage img:hover ~ .textoDaImagem{
        margin-top: 20dvh;
    }
    .linkImage video:hover ~ .textoDaImagem{
        margin-top: 20dvh;
    }
    .linkImage img:hover ~ .textoDaImagem p{
        opacity: 1;
    }
    .linkImage video:hover ~ .textoDaImagem p{
        opacity: 1;
    }
    .linkImage:before{
        pointer-events: none;
        content: "";
        overflow: hidden;
        z-index: 99;
        position: absolute;
        background: linear-gradient(#00000000,
                #000000);
        height: 52dvh;
        width: 100%;
    }
    @media (max-width: 768px) {
        .textoDaImagem p{
            width: 80%;
        }
        .textoDaImagem p{
            width: 80%;
        }
        .linkImage img:hover ~ .textoDaImagem{
            margin-top: 10dvh;
        }
        .linkImage video:hover ~ .textoDaImagem{
            margin-top: 10dvh;
        }
    }
}