@media (prefers-color-scheme: dark) {
   .containerSlider{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000000,
                #d3d2d2);
    overflow: hidden;
   }
   .slider{
    position: absolute;
    width: 100%;
    height: 100vh;
    perspective: 250px;
    perspective-origin: 50% 100%;
    overflow: hidden;
   }
   .slide{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 50%;
    height: 400px;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform, opacity;
   }
   .slideImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .slide-title{
    color: transparent;
    -webkit-text-stroke: #ffffff 2px;
    font-weight: 900;
    font-family: 'Antonio', sans-serif;
    font-size: 4rem;
   }
   .slide-title .word{
    will-change: transform;
   }
}
.landing_do_Curso{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(#ffffff90,
                #00000090);
}
.imgDeCapa{
    opacity: 1;
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.imgDeCapa img::before{
    position: absolute;
    pointer-events: none;
    content: "";
    width: 100%;
    z-index: 1;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),
                rgba( 0, 0, 0, 1));
}
.textoAnimado{
    top: 100px;
    margin-left: 30%;
    position: absolute;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    border-right: 2px solid;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: blink .8s infinite, 
               typewriter 4s alternate infinite steps(23);
}
.imgDePerfil{
    position: relative;
    border-radius: 50%;
    background: #0000ff;
    width: 250px;
    object-fit: cover;
    height: 250px;
    margin-left: 20%;
    margin-top: 10%;
    transform: translate(-80%);
}
.courseText{
margin-top: 40px;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 99;
    position: relative;
    width: 65%;
    text-align: center;
}
@media all and (max-width: 1000px) {
    .slide{
        width: 70%;
    }
    .slide-title{
        font-size: 2rem;
        letter-spacing: .25rem;
    }
}