:root{
    --cor-light: #004aad;
    --cor-dark: #002f6c;
}
.container h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 100;
    margin-left: 30px;
    font-size: calc(15px + 3vw);
    width: 26ch;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: write 3.3s forwards steps(26),
               blink 0.5s infinite;
}
.elContentor{
    position: relative;
    will-change: background-color;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: calc(10px + 1.5vw);
    margin-top: 20px;
    font-weight: 900;
    margin-left: 30px;
}
.triggerImage{
    position: relative;
    width: 100%;
    height: 50svh;
    overflow: hidden;
}
.triggerWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    width: 150%;
    height: 300px;
}
.triggerItems{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    width: 200%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    will-change: transform;
}
.triggerItemImage{
    flex: 1;
    width: 100%;
    aspect-ratio: 5/3;
}
.horizontal-scroll{
    background-color: #000000;
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}
.horizontal-scroll .scrollHorizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-scroll .scrollHorizontal h2,
.horizontal-scroll .scrollHorizontal img{
    width: 75%;
}
.horizontal-scroll .scrollHorizontal img{
    height: 75%;
}
.horizontal-scrollWrapper{
    position: relative;
    width: 300%;
    height: 100dvh;
    display: flex;
    will-change: transform;
}
.horizontal-slide{
    flex: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 2rem;
}
.horizontal-slide:not(.horizontal-spacer){
    flex-direction: column;
    background-color: var(--cor-light);
    color: var(--cor-dark);
}
.horizontal-slide .scrollHorizontal:nth-child(1){
    flex: 3;
}
.horizontal-slide .scrollHorizontal:nth-child(2){
    flex: 2;
}

@keyframes blink {
    0%{
        border-color: transparent;
    }
}
@keyframes write {
    from{
        width: 0ch;
    }
}
@media screen and (max-width: 950px){
    .container h1{
        font-size: calc(15px + 2vw);
        width: 26ch;
    }
}
@media screen and (max-width: 1000px){
    .triggerWrapper{
        width: 300%;
    }
}